body{
    /* text-align: center; */
    color: rgb(51, 51, 51);
    background-color: rgb(39, 89, 112);
    font-family: Arial, Helvetica, sans-serif;
}
.post{
    border: 1px solid rgb(167, 164, 164);
    padding: 0em 3em 3em 3em;
    border-radius: 5px;
    margin-top: 10em;
    max-width: 60%;
    margin: 10em auto;
    background-color: #fff;
}
.title{
    display: block;
    font-size: 1.3em;
    text-align: start;
}
.title h1{
    display: inline-block;
}
.title .icon{
    display: inline-block;
    width: 1.8em;
}
.content p{
    font-weight: 100;
    margin: 2em 10em;
}